body {
  max-width: 100%;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 24px;
  padding: 24px 58px;
}
.gallery-item {
  max-width: 510px;
  max-height: 344px;
}
.gallery-image {
  width: 510px;
  height: 344px;
}
